.wrapper {
    width: 1150px;
    padding: 0px 12px;
    height: 60px;
    display: flex;
}
.inner {
    width: 1150px;
    display: flex;
    height: 100%;
    align-items: center;
    // justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.search {
    align-items: center;
    width: 361px;
    height: 46px;
    background-color: #ccc;
    border-radius: 92px;
    padding: 12px 16px;
}
.clear {
}
.loading {
}
.search_btn {
}
