.wrapper {
    width: 100%;
    padding: 0px 12px;
    height: 60px;
    display: flex;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    justify-content: center;
}
.inner {
    width: 1150px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.search {
    width: 361px;
    height: 46px;
    background-color: #ccc;
    align-items: center;
    border-radius: 92px;
    padding: 0px 16px;
    justify-content: center;
}
.clear {
}
.loading {
}
.search_btn {
}
