.wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container {
    width: 1150px;
    min-height: 1000px;
    background-color: #333;
}
